*.o
*.req.xml
*.res.xml
moteur_client
moteur_client-status
moteur_server
moteur_service.nsmap
moteur_service.wsdl
ns.xsd
soapC.cpp
soapClient.cpp
soapClientLib.cpp
soapH.h
soapServer.cpp
soapServerLib.cpp
soapStub.h
